@model TICKETBOX.Models.Tables.Info

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đường dẫn tới file layout
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/ttin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>@Model.InfoTitle</title>
</head>

<body>
    <div class="container">
        <h1>@Model.InfoTitle</h1>
        <img src="@Model.InfoImage" alt="@Model.InfoTitle" />
        <p>@Model.InfoContent</p>
    </div>
</body>

</html>
